<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="15 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level %logger{36} %X{sourceThread} %X{akkaSource} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <!-- daily rollover -->
        <fileNamePattern>queue-server.%d{yyyy-MM-dd}.log</fileNamePattern>
        <!-- keep 10 days' worth of history -->
        <maxHistory>10</maxHistory>
      </rollingPolicy>
      <encoder>
        <pattern>%X{akkaTimestamp} %-5level %logger{36} %X{sourceThread} %X{akkaSource} - %msg%n</pattern>
      </encoder>
    </appender>

    <logger name="com.timetrade.queueservice" level="DEBUG" />

    <logger name="spray" level="WARN" />
    <logger name="akka" level="WARN" />

    <logger name="scala.slick" level="ERROR" />
    <logger name="com.mchange.v2.c3p0" level="ERROR" />

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
